<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="/css/myStyle.css"/>
    <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{fragments/sidebar}">Side Navigation</nav>
<nav th:replace="~{fragments/generalNavigation}">Side Navigation</nav>
<main>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="container">
            <!-- Page Heading -->
            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h2 text-gray-900 mb-4">Change Password</h1>
                                        </div>
                                        <form class="form-signin" th:action="@{/passwordChange}" method="POST">
                                            <div class="form-group">
                                                <label for="oldPassword">Please enter your old password:</label>
                                                <input name="oldPassword" type="password" id="oldPassword" class="form-control" placeholder="Old Password" required="">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword">Please enter a new password:</label>
                                                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="New Password" required="">
                                                <h6 th:if="${showError == 'true'}" style="color: crimson">Invalid password</h6>
                                            </div>
                                            <br/>
                                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none d-lg-block" style="padding-top: 25px">
                                    <img src="images/changepassword.png" style="width: 100%">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</main>

<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="webjars/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>

</body>
</html>
