<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/forgotPassword}" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Please enter your email address</h1>
        <div class="form-group" style="text-align: left">
            <input name="email" type="text" id="email" class="form-control" placeholder="E-Mail Address" required="">
        </div>
        <button class="btn btn-lg btn-primary btn-block greenBtn" type="submit">Submit</button>
    </form>
</body>
</html>