
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="/css/myStyle.css"/>
    <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{fragments/sidebar}">Side Navigation</nav>
<nav th:replace="~{fragments/generalNavigation}">Side Navigation</nav>
<main>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="p-5">
                                    <form class="form-signin" th:action="@{/trainer/modifyGroup}" th:object="${assignGroupForm}" method="POST">
                                        <h1 class="h3 mb-3 font-weight-normal text-center">Assign Trainee to a Class</h1>
                                        <hr/>
                                        <p th:if="${modifySuccess}" th:text="${modifySuccess}" class="letterGradeA" style="text-align-last: center"></p>
                                        <div class="row justify-content-center">
                                            <div class="col-md-3">Select Trainee</div>
                                            <div class="col-md-3 col-md-offset-2">Select Class</div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-3">
                                                <select class="form-control" th:field="*{traineeId}" required>
                                                    <option value=""> -- </option>
                                                    <option th:each="trainee : ${allTrainees}"
                                                            th:value="${trainee.traineeId}"
                                                            th:text="${trainee.firstName} + ' ' + ${trainee.lastName}"></option>
                                                </select></div>
                                            <div class="col-md-3 col-md-offset-2">
                                                <select class="form-control" th:field="*{groupId}" required>
                                                    <option value=""> -- </option>
                                                    <option th:each="group : ${allGroups}"
                                                            th:value="${group.groupId}"
                                                            th:text="${group.groupName}"></option>
                                                </select></div>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Assign Trainee</button>
                                    </form>

                                    <form class="form-signin" th:action="@{/trainer/createGroup}" th:object="${newClass}" method="POST">
                                        <h1 class="h3 mb-3 font-weight-normal mt-5 text-center">Create Class</h1>
                                        <hr/>
                                        <p th:if="${addError}" th:text="${addError}" class="letterGradeF" style="text-align-last: center"></p>
                                        <p th:if="${addSuccess}" th:text="${addSuccess}" class="letterGradeA" style="text-align-last: center"></p>

                                        <div class="row justify-content-center">
                                            <div class="col-md-3 ">Class Name</div>
                                            <div class="col-md-3 col-md-offset-2">Course</div>
                                            <div class="col-md-3 col-md-offset-2">Start Date</div>
                                            <div class="col-md-3 col-md-offset-2">End Date</div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-3">
                                                <input class="form-control" type="text" th:field="*{groupName}" required>
                                            </div>
                                            <div class="col-md-3 col-md-offset-2">
                                                <select class="form-control" th:field="*{courseId}" required>
                                                    <option value=""> -- </option>
                                                    <option th:each="course : ${allCourses}"
                                                            th:value="${course.courseId}"
                                                            th:text="${course.courseName}"></option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control" type="datetime-local" th:field="*{startDate}" required>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control" type="datetime-local" th:field="*{endDate}" required>
                                            </div>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Create Class</button>



<!--                                        <table>-->
<!--                                            <tr>-->
<!--                                                <th>Class Name</th>-->
<!--                                                <th>Course</th>-->
<!--                                                <th>Start Date</th>-->
<!--                                                <th>End Date</th>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <td>-->
<!--                                                    <input class="form-control" type="text" th:field="*{groupName}" required>-->
<!--                                                </td>-->
<!--                                                <td>-->
<!--                                                    <select class="form-control" th:field="*{courseId}" required>-->
<!--                                                        <option value=""> &#45;&#45; </option>-->
<!--                                                        <option th:each="course : ${allCourses}"-->
<!--                                                                th:value="${course.courseId}"-->
<!--                                                                th:text="${course.courseName}"></option>-->
<!--                                                    </select>-->
<!--                                                </td>-->
<!--                                                <td>-->
<!--                                                    <input class="form-control" type="datetime-local" th:field="*{startDate}" required>-->
<!--                                                </td>-->
<!--                                                <td>-->
<!--                                                    <input class="form-control" type="datetime-local" th:field="*{endDate}" required>-->
<!--                                                </td>-->
<!--                                            </tr>-->
<!--                                        </table>-->
<!--                                        <br/>-->
<!--                                        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Class</button>-->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</main>

<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="webjars/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>

</body>
</html>
