<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <head>
        <meta charset="UTF-8">
        <link rel ="stylesheet" href="/css/myStyle.css"/>
        <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
        <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <title>Trainee Attendance</title>
    </head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<div th:fragment="attendanceFragment">
    <main>
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800" th:text="${trainee.getFirstName() + ' ' + trainee.getLastName() + ' - Attendance'}"></h1>

            </div>
        </div>
        <br/>
        <p th:if="${attendanceReports.isEmpty()}"
           th:text="${'No attendance reports for ' + trainee.getFirstName() + ' ' + trainee.getLastName()}"></p>
        <div class="accordion" id="accordionExample">
            <!--        <tr th:each="entry, stats : ${usersMap}" th:with="user=${entry.value}">-->
            <!--        <div >-->
            <div class="card" th:each="entry, stats : ${attendanceReports}" th:with="list=${entry.value}">
                <div class="card-header" th:id="${'heading' + entry.key}">
                    <h2 class="mb-0">
                        <button aria-expanded="show"
                                class="btn btn-link btn-block text-left"
                                data-toggle="collapse"
                                th:data-target="${'#collapse' + entry.key}"
                                th:aria-controls="${'collapse' + entry.key}"
                                th:text="${'Week ' + entry.key}"
                                type="button">
                        </button>
                    </h2>
                </div>
                <div th:id="${'collapse' + entry.key}" class="collapse hide" th:aria-labelledby="${'heading' + entry.key}" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="jumbotron">
                            <h2 th:text="${'Attendance - Week ' + entry.key}"></h2>
                            <br/>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Date</th>
                                    <th>Day Of The Week</th>
                                    <th>Attendance Status</th>
                                </tr>
                                <tr th:each="report : ${list}" >
                                    <td th:text="${report.attendanceDate}"></td>
                                    <td th:switch="${report.day}">
                                        <div th:case="1">MONDAY</div>
                                        <div th:case="2">TUESDAY</div>
                                        <div th:case="3">WEDNESDAY</div>
                                        <div th:case="4">THURSDAY</div>
                                        <div th:case="5">FRIDAY</div>
                                    </td>
                                    <td th:switch="${report.attendanceId}">
                                        <div th:case="1" class="holderTextGreen">ON TIME</div>
                                        <div th:case="2" class="holderTextOrange">LATE</div>
                                        <div th:case="3" class="holderTextBlue">ABSENT (EXCUSED)</div>
                                        <div th:case="4" class="holderTextRed">ABSENT (UNEXCUSED)</div>
                                        <div th:case="5">NO ENTRY</div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <br/>
                        <form th:action="@{/trainer/attendanceEntry}">
                                            <button class="btn btn-lg btn-primary btn-block greenBtn" type="submit">
                                                Edit Attendance
                                            </button>
                        </form>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>