<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <head>
        <meta charset="UTF-8">
        <link rel ="stylesheet" href="/css/myStyle.css"/>
        <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
        <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <title>Trainee Attendance</title>
    </head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<div th:fragment="attendanceFragment">
    <main>
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800" th:text="${trainee.getFirstName() + ' ' + trainee.getLastName() + ' - Attendance'}"></h1>

            </div>
        </div>
        <br/>
        <p th:if="${attendanceReports.isEmpty()}"
           th:text="${'No attendance reports for ' + trainee.getFirstName() + ' ' + trainee.getLastName()}"></p>
        <div class="accordion" id="accordionExample">
            <!--        <tr th:each="entry, stats : ${usersMap}" th:with="user=${entry.value}">-->
            <!--        <div >-->
            <div class="card" th:each="entry, stats : ${attendanceReports}" th:with="list=${entry.value}">
                <div class="card-header" th:id="${'heading' + entry.key}">
                    <h2 class="mb-0">
                        <button aria-expanded="show"
                                class="btn btn-link btn-block text-left"
                                data-toggle="collapse"
                                th:data-target="${'#collapse' + entry.key}"
                                th:aria-controls="${'collapse' + entry.key}"
                                th:text="${'Week ' + entry.key}"
                                type="button">
                        </button>
                    </h2>
                </div>
                <div th:id="${'collapse' + entry.key}" class="collapse hide" th:aria-labelledby="${'heading' + entry.key}" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="jumbotron">
                            <h2 th:text="${'Attendance - Week ' + entry.key}"></h2>
                            <br/>
                            <table th:each="report : ${list}">

                                <tr>
                                    <td  th:switch="${report.day}">
                                        <div th:case="1" th:text="${report.attendanceDate} + ' - Monday: ' + ${report.attendanceStatus}"></div>
                                        <div th:case="2" th:text="${report.attendanceDate} + ' - Tuesday: ' + ${report.attendanceStatus}"></div>
                                        <div th:case="3" th:text="${report.attendanceDate} + ' - Wednesday: ' + ${report.attendanceStatus}"></div>
                                        <div th:case="4" th:text="${report.attendanceDate} + ' - Thursday: '  + ${report.attendanceStatus}"></div>
                                        <div th:case="5" th:text="${report.attendanceDate} + ' - Friday: ' + ${report.attendanceStatus}"></div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <br/>
                        <form th:action="@{/trainer/attendanceEntry}">
                                            <button class="btn btn-lg btn-primary btn-block greenBtn" type="submit">
                                                Edit Attendance
                                            </button>
                        </form>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>