<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" th:href="@{/css/myStyle.css}"/>
    <link rel ="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.css"/>

</head>
<body>
<footer th:fragment="footerFragment" class="text-black-50 mt-sm-5 text-center mb-sm-3">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>6th Floor
                    <br/>125 London Wall
                    <br/>Barbican
                    <br/>London EC2Y 5AS
                </p>
            </div>
            <div class="col-sm">
                <p>
                    Contact Us:
                    <br/>Phone: +44 (0) 208 940 2333
                    <br/>Email: contact@spartaglobal.com
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="container text-center">
                    <small>Copyright &copy; Sparta Global: Panda in Spring</small>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
