.footer{
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 180px !important;
    background-color: white !important;
}
.sideNav{
    background-color: #fff;
}
.sidebar .nav-item .nav-link{
    color: black !important;
}
.sidebar-dark .nav-item .nav-link i {
    color: #5EC68E !important;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #E23561 !important;
}

.sidebar-dark #sidebarToggle {
    background-color: #4e73df !important;
}

.sidebar-dark #sidebarToggle::after {
    color: #ffffff !important;
}

.sidebar-dark #sidebarToggle:hover {
    background-color: #3858D0  !important;
}

.sidebar-dark.toggled #sidebarToggle::after {
    color: #ffffff !important;
}
.bg-grey{
    background-color: #eeeeee !important;
}
.sidebar-divider{
    border-top: 1px solid #e5e4e4 !important;
}
.spartaLogo{
    width: 70%;
}
.invisible-input {
    visibility: hidden !important;
}

.border-bottom-color {
    border-bottom: 0.25rem solid #E23561 !important;
}

ul li {
    color: #000000;
}

.completeState0, .completeState4{
    background-color: #D85C5C;
    border: darkgrey 1px solid;
}

.completeState1{
    background-color: #60BD60;
    border: darkgrey 1px solid;
}

.completeState2{
    background-color: #f6c23e;
    border: darkgrey 1px solid;
}

.completeState3{
    background-color: #6C93DA;
    border: darkgrey 1px solid;
}

.completeState5{
    background-color: white;
    border: darkgrey 1px solid;
}

.feedbackFormTextArea{
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle{
    background-color: #bf910b !important;
    border-color: #bf910b !important;
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle{
    background-color: #AF293B !important;
    border-color: #AF293B !important;
}

.letterGradeB {
    color: seagreen;
}

.letterGradeA {
    color: darkgreen;
}

.holderTextRed, .letterGradeF{
    color: crimson;
}

.holderTextGreen{
    color: darkseagreen;
}

.holderTextBlue{
    color: cornflowerblue;
}

.holderTextWhite{
    color: white;
}

.holderTextOrange, .letterGradeC {
    color: #f6c23e;
}

.letterGradeD{
    color: darkorange;
}

.placeholderText{
    color: transparent;
}

.form-control-dropdown, .form-control-dropdown:focus {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    border: none;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
}

.table-bordered{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align-all: center;
}


/*styling for assessment page*/
.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
}
.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1px;
    list-style-type: none;
}
.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #ccc;
    /*background-color: ;*/
}


/* Assessment page table */
tr.hide-table-padding td {
    padding: 0;
}

.expand-button {
    position: relative;
}

.accordion-toggle .expand-button:after
{
    position: absolute;
    left:.75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
    content: '+';
}

/* Attendance Page*/
.active-on-select:hover {
    background-color:#aaa;
    color:white;
}

.active-on-select:active {
    background-color:#000;
    color:white;
}

.active-fragment {
    background-color:#000;
    color:white;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
}