<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/myStyle.css"/>
        <link rel="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
        <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <title>Trainee Assessments</title>
    </head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<main>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" th:text="${trainee.getFirstName() + ' ' + trainee.getLastName()}"></h1>
        </div>
    </div>
    <br/>
    <p th:if="${assessments.isEmpty()}"
       th:text="${'No assessments available for ' + trainee.getFirstName() + ' ' + trainee.getLastName()}"></p>
    <div class="accordion" id="accordionExample">
        <div class="card" th:each="assessment : ${assessments}">
            <div class="card-header"
                 th:id="${'heading' + codingGamesAPI.getAssessmentName(assessment)}">
                <h2 class="mb-0">
                    <button aria-expanded="show"
                            class="btn btn-link btn-block text-left"
                            data-toggle="collapse"
                            th:data-target="${'#collapse' + codingGamesAPI.getAssessmentName(assessment)}"
                            th:aria-controls="${'collapse' + codingGamesAPI.getAssessmentName(assessment)}"
                            th:text="${codingGamesAPI.getAssessmentName(assessment)}"
                            type="button">
                    </button>
                </h2>
            </div>
            <div th:id="${'collapse' + codingGamesAPI.getAssessmentName(assessment)}"
                 class="collapse hide"
                 th:aria-labelledby="${'heading' + codingGamesAPI.getAssessmentName(assessment) +' - ' +codingGamesAPI.getAssessmentTags(assessment)}"
                 data-parent="#accordionExample">
                <div class="card-body">
                    <div class="jumbotron">
                        <h2 th:text="${codingGamesAPI.getAssessmentName(assessment)}"></h2>
                        <br/>
                        <div class="card-deck">
                            <div class="card">
                                <h4><strong>Assessment Overview</strong></h4>
                                <table style="width:100%">
                                    <tr>
                                        <td><strong>Score</strong></td>
                                        <td th:text="${codingGamesAPI.getAssessmentScore(assessment)}"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Duration</strong></td>
                                        <td th:text="${codingGamesAPI.getAssessmentDuration(assessment)}"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Comparative Score</strong></td>
                                        <td th:text="${codingGamesAPI.getAssessmentComparativeScore(assessment)}"></td>
                                    </tr>
                                </table>
                            </div>
                            <br/>
                            <div class="card">
                                <h4><strong>Assessment Breakdown</strong></h4>
                                <table style="width:100%">
                                    <tr>
                                        <td><strong>Design Score</strong></td>
                                        <td th:text="${codingGamesAPI.getAssessmentDesignScore(assessment)}"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Language Knowledge Score</strong></td>
                                        <td th:text="${codingGamesAPI.getAssessmentLanguageKnowledgeScore(assessment)}"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Problem Solving Score</strong></td>
                                        <td th:text="${codingGamesAPI.getAssessmentProblemSolvingScore(assessment)}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>