<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="/css/myStyle.css"/>
    <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title>Trainee Reports</title>
</head>
<body>
<!--        <nav th:replace="~{fragments/publicNavigation}">Navigation</nav>-->
        <div th:fragment="lastReportFragment">
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" th:text="'Grade for Previous Week'"></h6>
<!--                    <h6 class="m-0 font-weight-bold text-primary" th:text="${'Grade for Previous Week - ' + ' ' + trainee.getFirstName() + ' ' + trainee.getLastName()}"></h6>-->
                </div>

                <div class="card-body">

                    <p th:if="${previousWeekReport == null}" th:text="${'No grades yet for ' + trainee.getFirstName() + ' ' + trainee.getLastName()}"></p>
                    <div th:if="${previousWeekReport != null}">
                        <div style="text-align: center;">
                            <div class="card-deck">
                                <div class="card" >
                                    <div class="card-header" style="background: #60bd60">
                                        <small style="color: white;">Consultant Grade</small>
                                    </div>
                                    <div class="card-body">
                                        <big class="text-muted" style="font-weight: bolder" th:text="${previousWeekReport.getConsultantGradeTrainer()}"></big>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" style="background: #6c93da">
                                        <small style="color: white;">Technical Grade</small>
                                    </div>
                                    <div class="card-body">
                                        <big class="text-muted" style="font-weight: bolder" th:text="${previousWeekReport.getTechnicalGradeTrainer()}"></big>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" style="background: #d85c5c">
                                        <small style="color: white;">Overall Grade</small>
                                    </div>
                                    <div class="card-body">
                                        <big class="text-muted" style="font-weight: bolder" th:text="${previousWeekReport.getOverallGradeTrainer()}"></big>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${previousWeekReport != null}">
                    <div class="card-footer py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-align-last: right">
                            <div th:if="${#httpServletRequest.isUserInRole('TRAINEE') == true}">
                                <a th:href="@{/trainee/report}">Report Details</a>
                            </div>
                            <div th:if="${#httpServletRequest.isUserInRole('TRAINER') == true}">
                                <a th:href="${'/trainer/report/' + trainee.traineeId}">Report Details</a>
                            </div>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>