<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/myStyle.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel ="stylesheet" th:href="@{/css/assessmentSummaryStyle.css}"/>
    <title>Trainee Assessments</title>
</head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<div th:fragment="assessmentFragment">
    <main>
<!--        <div class="container-fluid">-->
<!--            <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--                <h1 class="h3 mb-0 text-gray-800" th:text="${trainee.getFirstName() + ' ' + trainee.getLastName()} + ' - Assessments'"></h1>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br/>-->
        <p th:if="${assessments.isEmpty()}"
           th:text="${'No assessments available for ' + trainee.getFirstName() + ' ' + trainee.getLastName()}"></p>

        <div class="card shadow mb-4" th:if="${!assessments.isEmpty()}">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary" th:text="${'Assessments Breakdown - ' + ' ' + trainee.getFirstName() + ' ' + trainee.getLastName()}"></h6>
            </div>

            <div class="card-body">

                <div class="accordion">
                <table class="table" id="accordionExample" th:if="${!assessments.isEmpty()}">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Score</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Assessment date</th>
                    </tr>
                    </thead>

                    <tbody th:each="assessment : ${assessments}">
                    <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" th:href="${'#collapse' + codingGamesAPI.getAssessmentName(assessment)}">
                        <td class="expand-button"></td>
                        <th scope="row" th:text="${codingGamesAPI.getAssessmentName(assessment)}">Name</th>
                        <td th:text="${codingGamesAPI.getAssessmentScore(assessment)}">Score</td>
                        <td>
                            <span th:text="${codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment))}"
                                  th:if="${codingGamesAPI.getFirstLetter(codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment)))} == 'A'"
                                  style="color: darkgreen">
                            </span>
                            <span th:text="${codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment))}"
                                  th:if="${codingGamesAPI.getFirstLetter(codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment)))} == 'B'"
                                  style="color: lightgreen">
                            </span>
                            <span th:text="${codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment))}"
                                  th:if="${codingGamesAPI.getFirstLetter(codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment)))} == 'C'"
                                  style="color: yellow">
                            </span>
                            <span th:text="${codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment))}"
                                  th:if="${codingGamesAPI.getFirstLetter(codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment)))} == 'D'"
                                  style="color: orange">
                            </span>
                            <span th:text="${codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment))}"
                                  th:if="${codingGamesAPI.getFirstLetter(codingGamesAPI.getAssessmentGrade(codingGamesAPI.getAssessmentScore(assessment)))} == 'F'"
                                  style="color: red">
                            </span>
                        </td>
                        <td th:text="${codingGamesAPI.getAssessmentDate(assessment)}">Date</td>
                    </tr>
                    <tr class="hide-table-padding">
                        <td></td>
                        <td colspan="4">
                            <div th:id="${'collapse' + codingGamesAPI.getAssessmentName(assessment)}" class="collapse in p-3">
                                <div class="row">
                                    <div class="col-2">Score</div>
                                    <div class="col-6" th:text="${codingGamesAPI.getAssessmentScore(assessment)} + '%'"></div>
                                </div>
                                <div class="row">
                                    <div class="col-2">Duration</div>
                                    <div class="col-6"
                                         th:text="${codingGamesAPI.getAssessmentDuration(assessment)} + ' mins'"></div>
                                </div>
                                <div class="row">
                                    <div class="col-2">Comparative Score</div>
                                    <div class="col-6"
                                         th:text="${codingGamesAPI.getAssessmentComparativeScore(assessment)} + '%'"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            </div>
        </div>

    </main>
</div>
</body>
</html>