<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='Trainee Tracker')}">
    <head>
        <meta charset="UTF-8">
        <link rel ="stylesheet" href="/css/myStyle.css"/>
        <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
        <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <title>Trainee Reports</title>
    </head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<div th:fragment="reportsFragment">

    <main>
        <div class="container-fluid">
            <!-- Page Heading -->
            <h2 style="text-align-last: center" th:text="${'Weekly Reports'}"></h2>
        </div>
        <br/>
        <p th:if="${reports.isEmpty()}" th:text="${'No reports yet for ' + trainee.getFirstName() + ' ' + trainee.getLastName()}"></p>
        <div class="accordion" id="accordionExample">
            <div class="card" th:each="report : ${reports}">
                <div class="card-header" th:id="${'heading' + report.getWeekNum()}">
                    <h2 class="mb-0">
                        <button aria-expanded="show"
                                class="btn btn-link btn-block text-left"
                                data-toggle="collapse"
                                th:data-target="${'#collapse' + report.getWeekNum()}"
                                th:aria-controls="${'collapse' + report.getWeekNum()}"x
                                th:text="${'Week ' + report.getWeekNum()}"
                                style="text-align-last: center;"
                                type="button">
                        </button>
                    </h2>
                </div>
                <div th:id="${'collapse' + report.getWeekNum()}" class="collapse hide" th:aria-labelledby="${'heading' + report.getWeekNum()}" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="jumbotron">
                            <h2 th:text="${'Report - Week ' + report.getWeekNum()}"></h2>
                            <br/>
                            <div class="card-deck">
                                <div class="card" id="SSCs">
                                    <br/>
                                    <div class="card">
                                        <h4><strong>Trainee SSCs</strong></h4>
                                        <table style="width:100%">
                                            <tr>
                                                <td><strong>Start</strong></td>
                                                <td th:text="${report.getStartTrainee()}"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Stop</strong></td>
                                                <td th:text="${report.getStopTrainee()}"></td>
                                            </tr>
                                                <td><strong>Continue</strong></td>
                                                <td th:text="${report.getContinueTrainee()}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br/>
                                    <div class="card">
                                        <h4><strong>Trainer SSCs</strong></h4>
                                        <table style="width:100%">
                                            <tr>
                                                <td><strong>Start</strong></td>
                                                <td th:text="${report.getStartTrainer()}"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Stop</strong></td>
                                                <td th:text="${report.getStopTrainer()}"></td>
                                            </tr>
                                                <td><strong>Continue</strong></td>
                                                <td th:text="${report.getContinueTrainer()}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br/>
                                </div>
                                <div class="card" id="Grades">
                                    <br/>
                                    <div class="card">
                                        <h4><strong>Trainee Grades</strong></h4>
                                        <div style="text-align: center;">
                                            <div class="card-deck">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <small class="text-muted">Consultant Grade</small>
                                                    </div>
                                                    <div class="card-body">

                                                        <big class="text-muted" th:text="${report.getConsultantGradeTrainee()}"></big>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header">
                                                        <small class="text-muted">Technical Grade</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <big class="text-muted" th:text="${report.getTechnicalGradeTrainee()}"></big>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="card">
                                        <h4><strong>Trainer Grades</strong></h4>
                                        <div style="text-align: center;">
                                            <div class="card-deck">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <small class="text-muted">Consultant Grade</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <big class="text-muted" th:text="${report.getConsultantGradeTrainer()}"></big>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header">
                                                        <small class="text-muted">Technical Grade</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <big class="text-muted" th:text="${report.getTechnicalGradeTrainer()}"></big>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header">
                                                        <small class="text-muted">Overall Grade</small>
                                                    </div>
                                                    <div class="card-body">
                                                        <big class="text-muted" th:text="${report.getOverallGradeTrainer()}"></big>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <br/>
                            <div class="card-deck">
                                <div class="card" id="bottom">
                                    <br/>
                                    <div class="card">
                                        <h4><strong>Comments</strong></h4>
                                        <p th:text="${report.getTrainerComments()}"></p>
                                        <br/>
                                        <div class="card-deck">
                                            <div class="card">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td><strong>Deadline</strong></td>
                                                        <td th:text="${report.getDeadline().format(dateFormat)}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="card">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td><strong>Last Edited</strong></td>
                                                        <td th:text="${report.getMostRecentEdit().format(dateFormat)}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <br/>
                                        <form th:action="@{/traineeReportProcessing}" method="post">
                                            <button class="btn btn-lg btn-primary btn-block greenBtn" type="submit" th:if="${now.isBefore(report.getDeadline())}" th:name="reportId" th:value="${report.getReportId()}">
                                                Edit Report
                                            </button>
                                        </form>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
</body>
</html>